<div class="row">
	<div class="col-md-8">
		<h2>Contact Details</h2>
		<% if (contact === undefined) { %>
		<div class="alert alert-danger fw-bold" role="alert">
			Contact doesn't exist!
			<br />
			<a href="/contact" class="alert-link fw-normal">Back to contacts list</a>
		</div>
		<% } else { %>
		<div class="card" style="width: 18rem">
			<div class="card-body">
				<h5 class="card-title"><%= contact.name %></h5>
				<h6 class="card-subtitle mb-2 text-muted">
					<%= contact.phoneNumber %>
				</h6>
				<p class="card-text"><%= contact.email %></p>
				<a href="/contact" class="card-link">Back to contacts list</a>
			</div>
		</div>
		<% } %>
	</div>
</div>
