.header {
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 10rem;
	height: 3rem;
}

.header-menu {
	display: flex;
	gap: 2rem;
	color: white;
}

.header ul li {
	transition: 300ms ease-in-out;
}

.header ul li:hover {
	color: var(--orange);
	cursor: pointer;
}
